<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reed Zhong</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_page/css/style.css' %}" />
    <script type="text/javascript">
        // Will be used in main.js
        var color_portrait = "{% static 'home_page/images/portrait_color.jpg' %}";
        var bw_portrait = "{% static 'home_page/images/portrait.jpg' %}";
    </script>
    <script type="text/javascript" src="{% static 'home_page/js/main.js' %}"></script>
</head>
<body>
    <article class="outer">
        <p>
            {{ profile.greeting }}
        </p>
        <div class="portrait_box">
            <image id="portrait" src="{% static 'home_page/images/portrait.jpg' %}"></image>
        </div>
        <p>
            {{ profile.about }}
        </p>
        <div>
            <ul id="qa_list" class="qa_list">
                {% for q in qa %}
                <li>
                    <button id="qa_question_{{ forloop.counter }}" class="qa_question">
                        <span>{{ q.question }}</span>
                    </button>
                    <div id="qa_answer_{{ forloop.counter }}" class="qa_answer">
                        {% autoescape off %}
                        {{ q.answer }}
                        {% endautoescape %}
                    </div>
                    <script type="text/javascript">
                        answer_showed_{{ forloop.counter }} = false;
                        $("#qa_question_{{ forloop.counter }}").click(
                            function() {
                                if(answer_showed_{{ forloop.counter }}) {
                                    $("#qa_answer_{{ forloop.counter }}").hide("blind", 500);
                                    answer_showed_{{ forloop.counter }} = false;
                                } else {
                                    $("#qa_answer_{{ forloop.counter }}").show("blind", 500);
                                    answer_showed_{{ forloop.counter }} = true;
                                }
                            }
                        );
                    </script>
                </li>
                {% endfor %}
                <button id="how_contact" class="qa_question">
                        <span>How to contact me?</span>
                </button>
            </ul>
        </div>
        <div class="mask"></div>
        <div class="photo-box" title="Click to dismiss">
            <image src="{% static 'home_page/images/autox.jpg' %}" ></image>
        </div>
    </article>
    <footer id="footer">
        <section id="contact_bar" class="contact_bar">
            {% for cm in profile.contactmethod_set.all %}
            <a href="{{ cm.address }}" class="contact_ele" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="#fff" d="{{ svg_path|get_item:cm.contact_type }}"></path>
                </svg>
            </a>
            {% endfor %}
        </section>
    </footer>
</body>
</html>